.login-container {
  width: 100%;
  height: 100vh;
  Flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.85);
  background-image: url("../../assets/bahamas.webp");
  background-size: cover;
  background-position: center;
}
.titulo {
    color: white;
    font-size: 80px;
    font-weight: bolder;
}


.login-box {
  width: 350px;
  padding: 40px;

  background: rgba(20, 20, 20, 0.75);

  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 15px;

  backdrop-filter: blur(10px);

  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);

  color: white;
}

.login-box h1 {
  text-align: center;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
}

.input-group input {
  width: 100%;
  box-sizing: border-box;

  padding: 12px;

  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.2);

  border-radius: 8px;

  color: white;
  outline: none;
}

.input-group input:focus {
  border-color: white;
}

.input-group input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

button {
  width: 100%;
  padding: 12px;

  margin-top: 10px;

  background: white;
  color: black;

  border: none;
  border-radius: 8px;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

button:hover {
  background: #ccc;
}

.login-box a {
  display: block;

  margin-top: 20px;

  text-align: center;

  color: white;
  text-decoration: none;
}

.login-box a:hover {
  text-decoration: underline;
}