.container-geral{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid green;
    border-radius: 10px;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.form-group-username{
    border: 1px solid pink;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.form-group-password{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}